{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://galatv.ru/static/css/style.css">
<section class="section search">
    <div class="container">
        <div class="section__inner">
            <div class="section__header">
                <div class="section__title">
                    403
                </div>
                <div class="section__subtitle">
                    У вас недостаточно прав, для просмотра этой страницы
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}